@model IEnumerable<VIAFitness.Models.DisplayWorkoutViewModel>

@{
    ViewBag.Title = "ListWorkouts";
}

<h2>ListWorkouts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkoutType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkoutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkoutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkoutId })
        </td>
    </tr>
}

</table>
